.aff{
    display: inline-block;
    width: 100%;
}
.desktopGtxt{
    display: none;
}

.tablettetxt{
    display: none;
}
.desktoptxt{
    display: none;
}

.inner{
    width: 100%;
    margin: 0 auto;
}

.txtcenter{
    text-align: center;
}

img{
    width: 100%;
}

div{
    padding: 1px;
}


@media screen and (min-width: 769px){
    .aff {
        width: 49%;
    }
    .tablettetxt{
        display: block;
    }
    .telephonetxt{
        display: none;
    }
}


@media screen and (min-width: 970px){
    .aff{
        width: 472px;
    }

    .tablettetxt{
        display: none;
    }
    .desktoptxt{
        display: block;
    }
}


@media screen and (min-width: 1370px){
    .desktoptxt{
        display: none
    }

    .desktopGtxt{
        display: block;
    }

    .aff{
        display: inline-block;
        width: 20%;
    }
}

